
::-webkit-scrollbar{
    width:10px;
  }
  ::-webkit-scrollbar-track
  {
    background:#d4d3d3;
  }
  ::-webkit-scrollbar-thumb
  {
    background:#888;
  }
  ::-webkit-scrollbar-thumb:hover
  {
    background:#2A65EA;
  }